/* html,
body,
body > div:first-child {
  height: 100%;
} */

/* #main .card-group .card {
  margin: 15px 15px;
} */

#main .card-group .card-img-con,
#my-page .card-group .card-img-con {
  height: 150px;
  overflow: hidden;
}

/* 말줄임 */
/* https://code-study.tistory.com/36 */
#main .card-group .card-text,
#my-page .card-group .card-text {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
}
